data/
results/*
!results/kraken2
!results/ECMSD
results/ECMSD/mapping/*
!results/ECMSD/mapping/*.txt
!results/ECMSD/mapping/*.png
!results/mapDamage/Tityra_leucura/*.png
shell/GCA_013397135.1_ASM1339713v1_genomic.fna.gz
