data/
!data/trimmed/
data/trimmed/*
!data/trimmed/Tityra_leucura.html
results/*
!results/kraken2
!results/ECMSD
!results/mapDamage
results/mapDamage/*
!results/mapDamage/Tityra_leucura
results/mapDamage/Tityra_leucura/*
!results/mapDamage/Tityra_leucura/*.pdf
results/ECMSD/mapping/*
!results/ECMSD/mapping/*.txt
!results/ECMSD/mapping/*.png
!results/mapDamage/Tityra_leucura/*.pdf
shell/GCA_013397135.1_ASM1339713v1_genomic.fna.gz
